/* Pantalla de Inicio y generales */

* {
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100%;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(90, 90, 90);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(46, 46, 46);
}

html::-webkit-scrollbar-track {
  background-color: rgb(189, 189, 189);
}

html::-webkit-scrollbar-track:hover {
  background-color: rgb(110, 110, 110);
}

body {
  background-color: grey;
}

ul {
  list-style: none;
}

.header {
  width: 100vw;
  position: sticky;
  top: 0px;
  padding-top: 0px;
  background-color: rgb(0, 0, 0);
  z-index: 90;
  height: 10vh;
}

.nav_bar {
  display: flex;
  width: 100vw;
  height: 100%;
}

.logo_pagina {
  position: relative;
  height: 100%;
  margin-left: 0px auto;
  left: 40px;
}

.fixed-top {
  position: sticky;
}

.navbar-toggler {
  margin: auto 5vw auto auto;
  display: none;
}

.icono-burger {
  color: rgb(173, 173, 173);
  font-size: 30px;
}

.icono-burger:hover {
  color: rgb(253, 252, 252);
  font-size: 30px;
}

.offcanvas {
  background-color: black;
  color: white;
  --bs-offcanvas-width: 300px;
}

.nav-link {
  color: white;
}

.navbar-nav {
  padding: 0px 1rem;
}

.navbar-nav .nav-item {
  --bs-nav-link-hover-color: none;
  padding: 0px 15%;
  border-radius: 30px;
  text-align: center;
}

.nav-item:hover {
  background-color: rgba(128, 128, 128, 0.479);
  transition: 0.7s;
}

.btn-close {
  background-color: white;
  color: gray;
}

.enlaces {
  margin-right: 5vw;
  margin-left: auto;
  padding: 0px;
  height: 100%;
}

.enlaces li {
  display: inline-block;
  height: 40%;
  margin: 1.8% 5px;
  border-radius: 20px 20px 20px 20px;
  background-color: black;
  padding: 5px 7px 4%;
  font-size: 1.2vw;
  border: solid 3px grey;
}

.enlaces li a {
  color: white;
  padding: 0px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.enlaces li:hover {
  background-color: grey;
  transition: 0.6s;
}

.container_inicio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "welcome"
    "who_we_are"
    "services"
    "articulos";
  overflow: hidden;
}

.welcome {
  grid-area: welcome;
  overflow: hidden;
}

.who_we_are {
  grid-area: who_we_are;
  height: auto;
}

.articulos {
  grid-area: articulos;
}

.services {
  grid-area: services;
}

.contenedor {
  width: 90%;
  display: grid;
  max-width: 100vw;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

/* Sección de bienvenida */
.welcome {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 90vh;
  width: 100%;
  background-image: url(../assets/images/general/maquina_tatuar.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.texto_welcome {
  position: absolute;
  top: 60%;
  left: 4%;
  height: 12vh;
  color: white;
}

.titulo_welcome {
  margin-top: 6.5%;
  font-size: 2.5vw;
  text-shadow: 7px 5px 0px rgb(0, 0, 0), 20px 11px 1em rgb(233, 233, 233),
    0 0 0.2em rgb(0, 0, 0);
  background: rgb(63, 63, 63);
  background: linear-gradient(
    180deg,
    rgba(63, 63, 63, 1) 24%,
    rgba(0, 0, 0, 1) 36%,
    rgba(0, 0, 0, 1) 47%,
    rgba(0, 0, 0, 1) 57%,
    rgba(85, 85, 85, 1) 76%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
}

/* Sección de información de la empresa */

.who_we_are .contenedor {
  padding-top: 20vh;
}
.texto_who_we_are {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 500px;
  margin-left: 10%;
}

.section {
  margin: 50px 0px;
  text-align: center;
}

.title_section {
  font-size: 5vh;
  font-weight: bolder;
  color: black;
}

.texto_section {
  margin: auto 0px;
  text-align: center;
  padding: 5% 0px 10%;
}

.parrafo_section {
  padding: 30px 10% 0px;
  font-size: 2.5vh;
  font-weight: 600;
}

.texto_section ul li {
  font-size: 2.5vh;
}

.img_section {
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
}

.img_apartado {
  height: 500px;
  width: 550px;
  border-radius: 20%;
  box-shadow: 0px 25px 10px;
}

.articulos {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  margin-bottom: 200px;
  text-align: center;
  margin: 0px auto;
  padding-top: 15vh;
}

.carousel-item {
  text-align: center;
  height: inherit;
  width: 100%;
  align-content: center;
}

.carousel-inner {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 78vh;
}

.carousel-control-prev {
  width: 10%;
  top: 45%;
  height: 7%;
  left: 3%;
}

.carousel-control-next {
  width: 10%;
  top: 45%;
  height: 7%;
  right: 3%;
}

.carousel-caption {
  color: rgba(255, 255, 255, 0.897);
  background-color: rgba(204, 204, 204, 0.671);
  font-weight: 600;
  bottom: 4rem;
}

.carousel-caption p {
  color: rgba(255, 255, 255, 0.897);
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
}

.carousel-caption h5 {
  font-weight: bolder;
  color: black;
  font-size: 1.5rem;
}

.carousel-control-prev:hover,
.carousel-control-prev:active {
  border-radius: 100px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.562);
}
.carousel-control-next:hover,
.carousel-control-next:active {
  border-radius: 100px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.562);
}
.carousel-indicators {
  z-index: 50;
  margin-bottom: 4rem;
}

.carousel-cards {
  display: flex;
  width: 80%;
  height: inherit;
  margin: 0 auto;
}

.carousel-cards img {
  width: 1%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.9;
  transition: 0.5s ease;
}

.carousel-cards img:hover,
.carousel-cards img:active {
  width: 20%;
  opacity: 1;
  filter: contrast(120%);
}

.carousel-item {
  text-align: right;
}

.video_carousel1 {
  width: 100%;
  height: 100%;
}

.video_carousel2 {
  display: none;
  margin: 0 auto;
  height: 100%;
}

.titulo-articulos {
  margin: 0px 0px 2vh;
}

.footer {
  margin-top: 2vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.w-100 {
  width: 80% !important;
  margin: 0 auto;
}
.title-footer {
  font-size: 1.5vw;
}

.footer li {
  font-size: 1vw;
}

.footer p {
  font-size: 1vw;
}

.info-contacto {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.columns {
  display: flex;
  flex-direction: row;
}

.info-contacto a {
  color: white;
  text-decoration: none;
}

.info-contacto ul {
  padding: 0px;
  margin: 0px 15px;
}

.info-direccion {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

/* Sobre nosotros */

.container-about-us {
  width: 100%;
  display: grid;
  max-width: 100vw;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "section-que-hacemos"
    "historia1"
    "historia2"
    "Historia3";
}

.container-about-us .texto-que-hacemos {
  grid-area: texto-que-hacemos;
  justify-self: center;
  padding: 0px 10%;
  margin-top: 7vh;
}
.container-about-us .imagen-1 {
  grid-area: imagen-1;
  justify-self: center;
  margin-top: 7vh;
}

.container-about-us .texto-historia1 {
  grid-area: texto-historia1;
  justify-self: center;
  padding: 0px 10%;
  margin-top: 7vh;
}

.container-about-us .imagen-2 {
  grid-area: imagen-2;
  justify-self: center;
  margin-top: 7vh;
}

.container-about-us .texto-historia2 {
  grid-area: texto-historia2;
  justify-self: center;
  padding: 0px 10%;
  margin-top: 7vh;
}
.container-about-us .imagen-3 {
  grid-area: imagen-3;
  justify-self: center;
  margin-top: 7vh;
}

.container-about-us .texto-historia3 {
  grid-area: texto-historia3;
  justify-self: center;
  padding: 0 100px;
}


/* Servicios */

.container-services {
  width: 100%;
  display: grid;
  max-width: 100vw;
  justify-items: center;
  margin: 5vh 0px 20vh;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "servicios-horario "
    "estilos  "
    "variacion-precio"
    "cuidados-texto ";
}

.container-services .servicios-horario {
  grid-area: servicios-horario;
  text-align: center;
}

.container-services .estilos {
  grid-area: estilos;
}
.container-services .variacion-precio {
  grid-area: variacion-precio;
  width: 100%;
}
.container-services .cuidados-texto {
  grid-area: cuidados-texto;
}

.servicios-horario .contenedor {
  margin-bottom: 0;
}

.tabla h1 {
  padding-bottom: 5%;
}

.tabla {
  padding-bottom: 10%;
}

.table1 {
  font-size: 2.5vh;
  background-color: white;
}

.table_section {
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
}

.section_horario {
  display: none;
}

td,
th {
  border: 3px solid black;
}

/* Tabla horario Horizontal */

.table1 td:nth-child(2) {
  background-color: rgb(78, 78, 78);
  color: white;
}

.table1 thead tr:nth-child(1) {
  background-color: rgb(190, 190, 190);
  color: black;
}

.table1 tbody tr td:nth-child(1) {
  background-color: rgb(190, 190, 190);
  color: black;
  font-weight: bold;
}

/* Tabla horario Vertical */
.table2 {
  font-size: 4vw;
  background-color: white;
}

.table2 td {
  padding: 3% 0;
}

.table2 tbody tr:nth-child(1) {
  background-color: rgb(78, 78, 78);
  color: white;
}

.table2 thead tr:nth-child(1) {
  background-color: rgb(190, 190, 190);
  color: black;
}

.table2 tbody tr td:nth-child(1) {
  background-color: rgb(190, 190, 190);
  color: black;
  font-weight: bold;
}

.table2 {
  display: none;
}

.texto_section ul {
  padding: 6%;
  margin: 0 auto 0 7%;
  text-align: left;
}

.cuidados-texto .contenedor {
  margin-bottom: 0;
}

/* Diseños */

.galeria {
  text-align: center;
}

.galeria-designs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}

.card-design {
  margin: 15px;
}

.galeria-designs img {
  width: 280px;
  height: 310px;
  border-radius: 30px;
}

.galeria-designs video {
  width: 350px;
  height: auto;
  border-radius: 30px;
}

/* Videos */

.galeria-videos{
  text-align: center;
  margin: 100px 0;
}

/* Contáctenos */
.container_contacts{
  margin: 40px 40px;
}

.seccion_formulario__title {
  text-align: center;
  font-weight: bold;
}

.seccion_mapa {
  text-align: center;
  margin: 30px 0;
}

.mb-3 {
  width: 800px;
  margin: 0 auto;
}

.information {
  text-align: left;
  width: 70%;
  margin: 30px auto;
  font-weight: bold;
}

.formulario__label {
  display: block;
  font-size: 18px;
  margin-right: auto;
  text-align: left;
}

.seccion_mapa {
  width: 600px;
  margin: 10px auto;
}



/* ...................................... */

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo{
    width: 800px;
    margin: 0 auto;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background-color: white;
  border: 3px solid transparent;
  border-radius: 10px;
  height: 45px;
  line-height: 45px;
  pad: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 50;
  font-size: 16px;
  opacity: 0;
}

.formulario__checkbox {
  margin-right: 10px;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background-color: #f66060;
  padding: 0 15px;
  border-radius: 15px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__mensaje p {
  margin: 0;
}

.boton-enviar {
  display: block;
  font-size: 20px;
  margin: 10px auto;
  width: 150px;
}

.formulario__mensaje-exito-activo {
  display: block;
}

.formulario_textarea{
  height: 150px;
  resize: none;
}

/* Estilos para Validación */

.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed1d2;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}
